  .blog-card img {
    max-width: 280px;
    width: 28vw;
    height: 300px;
    border-radius: inherit;
  }
  @media (max-width: 1459px) {
    .blog-card {
      width: 100%;
    }

    .blog-card img {
      width: 100%;
    }
  }


  @media (max-width: 1400px) {
    .blog-card {
      width: 90vw;
    }
  }

  @media (max-width: 1024px) {
    .blog-card {
      flex-direction: column;
      text-align: center;
      width: 90vw;
      padding: 30px;
    }

    .blog-card img {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: auto;
      max-height: 300px;
    }

    .h1 {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    .blog-card {
      height: auto;
      padding: 20px;
    }

    .h1 {
      margin-top: 40px;
    }
  }

  @media (max-width: 480px) {
    .blog-card {
      width: 100%;
    }
  }

