.card {
  position: relative;
  isolation: isolate;
  width: 425px;
  height: 225px;
  background-color: #000;
  border-radius: 8px;
}
.card_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 20%;
  border-radius: inherit;
  transition: transform 250ms;
}
.card:hover .card_image {
  transform: translateY(-112px) scale(0.75);
}

.card_body {
  inset: 0;
  z-index: -1;
  display: flex;
  position: absolute;
  color: #f4c644;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
}
.card_category {
  color: #fff;
}
.card_button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: #f4c644;
  padding: 10px 15px;
  color: #000;
}
